<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>

        <rewrite>
            <rules>
                <rule name="Rule" stopProcessing="true">
                  <match url="^(.*)$" ignoreCase="false" />
                  <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                  </conditions>
                  <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>


                <rule name="Redirect http://texco.in to http://www.texco.in HTTP" patternSyntax="ECMAScript" stopProcessing="true">  
            <match url=".*"></match>  
            <conditions>  
                <add input="{HTTP_HOST}" pattern="^www.texco.in$"></add>  
                <add input="{HTTPS}" pattern="off"></add>  
            </conditions>  
            <action type="Redirect" url="http://texco.in/{R:0}" redirectType="Permanent" appendQueryString="true"></action>  
        </rule>

            </rules>
        </rewrite>

        <httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="SAMEORIGIN" />
      <add name="X-Content-Type-Options" value="nosniff" />
      <add name="X-XSS-Protection" value="1; mode=block"/>
    </customHeaders>
  </httpProtocol>

  <httpErrors errorMode="Custom" >
<remove statusCode="403" subStatusCode="-1" />
<remove statusCode="404" subStatusCode="-1" />
<remove statusCode="500" subStatusCode="-1" />
<error statusCode="404" path="/404.php" responseMode="Redirect" />
<error statusCode="403" path="/403.php" responseMode="Redirect" />
<error statusCode="500" path="/500.php" responseMode="Redirect" />         
</httpErrors>

    </system.webServer>
</configuration>
